/**
 * ÁTTEKINTÉS
 *
 * Ez a fájl írja le az oldalt felépítő komponenseket. Onnantól, hogy
 * milyen a belső elrendezésük, egészen odáig, hogy milyen a szövegük
 * színe, stb.
 *
 */


/**
 * TARTALOMJEGYZÉK
 *
 * 1. GOMBOK
 *
 * 2. FEJLÉC
 *
 * 3. NAVIGÁCIÓ
 *
 * 4. KAPCSOLATI ADATOK
 *
 * 5. KAPCSOLATFELVÉTELI FORM
 *
 * 6. LÁBLÉC
 */




/*------------------------------------*\
  #GOMBOK
\*------------------------------------*/


.button{
    display:                    inline-block;
    border:                     2px solid;
    border-radius:              1.786rem;
    text-align:                 center;
}

.button--primary-solid {
    border: 0;
    background-color:           #6200ea;
    color:                      #ffffff;
}

.button--primary-solid:visited {
    color:                      #ffffff;
}


/*------------------------------------*\
  #FEJLÉC
\*------------------------------------*/


.header {
    height:                     80px;
    background-color:           #6200ea;
}

.logo {
    margin:                     1.017rem 0;
    float:                      left;
}


/*------------------------------------*\
  #NAVIGÁCIÓ
\*------------------------------------*/


.navigation {
    height:                     80px;
}

.navigation__link-container {
    float:                      right;
    padding-top:                2.321rem;
}

.navigation__link {
    vertical-align:             middle;
    padding-bottom:             2rem;
    border-bottom:              4px solid;
    border-color:               transparent;
    margin-left:                4.571rem;
    color:                      #f4f3f5;
    opacity:                    0.65;
    font-size:                  .857rem;
    font-weight:                bold;
    text-transform:             uppercase;
    letter-spacing:             .171rem;
}

.navigation__link:visited {
    color:                      #f4f3f5;
}

.navigation__link:hover {
    border-color:               #ffffff;
    color:                      #ffffff;
    opacity:                    1;
}

a.navigation__link:first-child {
    margin-left:                0;
}


/*------------------------------------*\
  #KAPCSOLATI ADATOK
\*------------------------------------*/


.contact-info {
    padding:                    4.286rem;
    border-radius:              1.071rem;
    background-color:           #ffffff;
}

.contact-info__map {
    width:                      100%;
    height:                     280px;
    border-radius:              1.071rem;
}

.contact-info__map,
.contact-info__address,
.contact-info__phone-email {
    margin-bottom:              2.143rem;
}

.contact-info__social-media { 
    margin-bottom:              .357rem; 
}

.contact-info__heading,
.contact-info__link {
    color:                      #6200ea;
}

.contact-info__link {
    display:                    block;
    margin-bottom:              .714rem;
    font-size:                  .857rem;
    font-weight:                bold;
    text-transform:             uppercase;
    letter-spacing:             .171rem;
}

.contact-info__heading {
    margin-bottom:              .7143rem;
    font-size:                  .857rem;
    font-weight:                bold;
    text-transform:             uppercase;
    letter-spacing:             .171rem;
}

.contact-info__social-media-link {
    display:                    inline-block;
    width:                      2.857rem;
    height:                     2.857rem;
    padding:                    .714rem; 
    border-radius:              50%;
    margin-right:               .714rem;
    background-color:           #6200ea;
    text-align:                 center;
}

.contact-info__social-media-icon {
    color:                      #ffffff;
    font-size:                  1.4285rem;
    
}


/*------------------------------------*\
  #KAPCSOLATFELVÉTELI FORM
\*------------------------------------*/


.contact-form {
    padding:                    4.286rem;
    border-radius:              1.071rem;
    background-color:           #ffffff;
}

.contact-form__header { 
    margin-bottom:              1.429rem; 
}

.contact-form__title { 
    margin-bottom:              .7143rem
}

.contact-form__cta {
    font-size:                  1.429rem;
    line-height:                30px;
}

.contact-form__input-field {
    display:                     block; 
    width:                       100%;
    padding:                     1.1428rem 0 .9286rem 1.7143rem;
    border:                      0; 
    border-bottom:               3px solid; 
    border-color:                transparent;
    margin-bottom:               1.071rem;
    background-color:            #f4f3f5;
    outline:                     none;
}

.contact-form__input-field:focus { 
    border-bottom-color:        #6200ea; 
}

.contact-form__input-field::placeholder { 
    font-weight:                bold;
    opacity:                    .25;
}

.contact-form__input-field--textarea {
    height:                     150px;
    margin-bottom:              1.4286rem;
}

.contact-form__submit { 
    width:                      100%;
    padding:                    1.286rem 0;
    margin-bottom:              0;
    font-size:                  .857rem;
    font-weight:                bold;
    text-transform:             uppercase;
    letter-spacing:             .171rem;
}


/*------------------------------------*\
  #LÁBLÉC
\*------------------------------------*/

.footer {
    height:                     100px;
    padding:                    3.071rem 0 3rem 0;
    text-align:                 center;
    background-color:           #211138;
}

.footer__copyright {
    text-transform:             uppercase;
    font-size:                  .857rem;
    font-weight:                bold;
    letter-spacing:             .171rem;
    color:                      #b2acba;
}

.footer__brand-name, .footer__student-name {
    color:                      #6200ea;
}